@model GolfController.Models.ScoreCard

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>ScoreCard</legend>

        @Html.HiddenFor(model => model.ID)

        <div class="editor-label">
            @Html.LabelFor(model => model.Score)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Score)
            @Html.ValidationMessageFor(model => model.Score)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Putts)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Putts)
            @Html.ValidationMessageFor(model => model.Putts)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FairwayInRegulation)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FairwayInRegulation)
            @Html.ValidationMessageFor(model => model.FairwayInRegulation)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GreenInRegulation)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GreenInRegulation)
            @Html.ValidationMessageFor(model => model.GreenInRegulation)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HoleID, "hole")
        </div>
        <div class="editor-field">
            @Html.DropDownList("HoleID", String.Empty)
            @Html.ValidationMessageFor(model => model.HoleID)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
